<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <p>&#169 Peter Wildberger 2017</p>
      <p>Special Thanks to Dev Jana, Kris Szafranski, Scott Bromander, Huck Brock, and the Omegabytes</p>
      <p>Tech that made @Ease possible:</p>
      <ul>
        <li>MongoDb</li>
        <li>AngularJS</li>
        <li>Express</li>
        <li>Node.js</li>
        <li>HTML5 canvas</li>
        <li>Twilio</li>
        <li>Nodemailer</li>
        <li>X-editable</li>
        <li>Bootstrap</li>
        <li>SweetAlert2</li>
        <li>JavaScript ES6</li>
      </ul>
      <a href="https://www.amtamassage.org/uploads/cms/documents/soap_notes_0614.pdf" target="_blank">Body Diagram from the AMTA</a><br>
      <a href="https://icons8.com/" target="_blank">Prototype icons from icons8</a>

    </div>
  </div>
</div>
