<div class="container-fluid">
  <div class="row" ng-if="pc.newForm">
    <div class="col-xs-12">
      <form name="newForm">
        <input type="text" placeholder="First Name" ng-model="pc.inputed.firstNameIn">
        <input type="text" placeholder="Last Name" ng-model="pc.inputed.lastNameIn">
        <input type='number' ng-model="pc.inputed.phoneIn" placeholder='Phone Number'>
        <input type="email" placeholder="Email" ng-model="pc.inputed.emailIn">
        <button type="button" ng-click="pc.savePatient()">Save</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 patientInfo">
      <form>
        <input type="text" ng-model="pc.searchPatient">
        <button type="button" ng-click="pc.newPatient()">New Patient</button>
      </form>
          <table>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Phone Number</th>
              <th>eMail</th>
              <!-- <th>Pay</th> -->
              <th></th>
            </tr>
            <tr ng-repeat='x in pc.patientsArray | filter : pc.searchPatient'>
              <td>{{ x.firstname }}</td>
              <td>{{ x.lastname }}</td>
              <td>{{ x.phone }}</td>
              <td>{{ x.email }}</td>
              <td></td>
              <!-- <td><button ng-click='pc.removePatient($index)'>DELETE</button></td> -->
            </tr>
          </table>
    </div>
  </div>

</div>
