<div class="container-fluid" ng-repeat="x in pc.currentPat">
  <div>
    <div class="row">
      <div class="col-xs-12">
        <div class="profInfo">
          <h3>Patient</h3>
          <p>Name: {{ x.firstname }} {{ x.lastname }}</p>
          <p>Phone Number: {{ x.phone }}</p>
          <p>Email: {{ x.email }}</p>

        </div>
        <div class="tHeadDiv" ng-if="pc.formHide">
          <form name="newForm" novalidate>
            <input type="number" placeholder="Duration" ng-model="pc.inputed.durationIn" required>
            <input type="date" placeholder="Date" ng-model="pc.inputed.dateIn" required>
            <input type='time' placeholder='Time' ng-model="pc.inputed.timeIn" required>
            <input type="text" placeholder="Massage type" ng-model="pc.inputed.mTypeIn" required>
            <button type="button" ng-click="pc.saveAppointment(x._id)" ng-disabled="newForm.$invalid">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="patientBar">
        <form name="patientUtil">
          <input class="searchArea" type="text" ng-model="pc.searchPatient" placeholder="&#x1f50d Search">
          <button class="newButton" type="button" ng-click="pc.newForm()">New Appointment</button>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 patientInfo">
      <table>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Massage type</th>
          <th>Duration</th>
          <th>Notes</th>
          <th></th>
          <th></th>
        </tr>
        <tr ng-repeat="y in x.appointments | filter : pc.searchPatient | orderBy: 'time'">
          <td>{{ y.date | date: 'shortDate'}}</td>
          <td>{{ y.time | date: 'mediumTime'}}</td>
          <td>{{ y.mType }}</td>
          <td>{{ y.duration }}min</td>
          <td><button ng-click="pc.goToNotes(y)">Notes</button></td>
          <td><button class="delete" ng-click='pc.removeAppointment(y.id)'>DELETE</button></td>
        </tr>
      </table>
    </div>
  </div>

</div>
